html, body {
  //display: flex;
  //align-items: center;
  //height: 100vh;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#root{
  width: 100%;
  height: 100vh;
}

/*AuthLoginPage*/
.baseLogin {
  width: 100%;
  height: 100vh;
  position: relative;

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__contentLogin{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &__Hello{
      opacity: 1;
      color: white;
      font-size: 2em;
      font-weight: bold;
      text-align: center;
    }

    &__divLogin {
      width: 25vw;
      height: 30vh;
      margin: 15vw 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 0;

      &__form {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        border-radius: 15px;
        background-color: rgba(164, 246, 227, 0.46);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
        gap: 10px; // додає простір між полями форми

        &__button {
          width: 8vw;
          height: 5vh;
          background-color: #067d81;
          color: white;
          font-weight: bold;
          font-size: 0.7em;
          border: none;
          border-radius: 5px;
          cursor: pointer; // коли юзер наводить курсор миші на кнопку, курсор перетворюється на "руку"

          &:disabled {
            background-color: grey;
            cursor: not-allowed;
          }
        }
      }

      &::after {
        content: ''; // Без цього псевдоелемент не відображатиметься
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;  background: linear-gradient(45deg, #1f2427, #016064, #03c825, #eaf0ef,
              #1e90ffed, #28488d, #1702ec, #05ffff);
        /*background: linear-gradient(45deg, rgba(0, 139, 139, 0.52), #067d81, #1cc6ca,*/
        /*#8bf6e1, rgb(93, 172, 248), rgba(30, 144, 255, 0.93), #28488d, #7d8493);*/
        background-size: 300%;
        filter: blur(20px);
        animation: anime 12s linear infinite;
        z-index: -1;
      }
    }
  }
  @keyframes anime {
    0%, 100%
    {
      background-position: 0 0;
    }
    50%
    {
      background-position: 300%;
    }
  }

  .errorLogin {
    color: #6e0707;
    background-color: rgba(209, 115, 115, 0.46);
    //margin-top: 10px;
    text-align: center;
    border-radius: 10px;
  }
}

/*MainLayout*/

.divMainLayout{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;

  &__header{
    height: 10vh;
    width: 100%;
    //background-image: ;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
      margin:  20px 0 20px 0;
      text-align: center;
      color: white;
    }

    &__nav{
      display: flex;
      align-items: center;
      margin: 20px 0 20px 0;
    }
  }
}