html, body {
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
  height: 100vh;
}

/*AuthLoginPage*/
.baseLogin {
  width: 100%;
  height: 100vh;
  position: relative;

  &__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  &__contentLogin{
    width: 60%;
    display: flex;
    //flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__Hello{
      opacity: 1;
      text-align: center;
      text-shadow: 4px 4px 2px rgba(28, 28, 28, 0.75);
      //position: absolute;

      &__h1{
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 5px; // відстань між літерами
        //position: relative;
        animation: textHello 3s infinite;
      }

      @keyframes textHello {
        0%{
          opacity: 0;
        }
        30%{
          opacity: 1;
          letter-spacing: 10px;
        }
        85%{
          letter-spacing: 5px;
        }
      }
    }

    &__divLogin {
      width: 25vw;
      height: 30vh;
      margin: 15vw 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: 0;

      &__form {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        border-radius: 15px;
        background-color: rgba(164, 246, 227, 0.46);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        position: relative;
        gap: 10px; // додає простір між полями форми

        &__button {
          width: 8vw;
          height: 5vh;
          background-color: rgba(11, 191, 164, 0.86);
          color: white;
          box-shadow: 10px 10px 5px 0 rgba(28, 28, 28, 0.75);
          font-weight: bold;
          font-size: 0.7em;
          border: none;
          border-radius: 5px;
          cursor: pointer; // коли юзер наводить курсор миші на кнопку, курсор перетворюється на "руку"

          &:disabled {
            background-color: grey;
            cursor: not-allowed;
          }
        }
      }

      &::after {
        content: ''; // Без цього псевдоелемент не відображатиметься
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;  background: linear-gradient(45deg, #1f2427, #016064, #03c825, #eaf0ef,
              #1e90ffed, #28488d, #1702ec, #05ffff);
        /*background: linear-gradient(45deg, rgba(0, 139, 139, 0.52), #067d81, #1cc6ca,*/
        /*#8bf6e1, rgb(93, 172, 248), rgba(30, 144, 255, 0.93), #28488d, #7d8493);*/
        background-size: 300%;
        filter: blur(20px);
        animation: anime 12s linear infinite;
        z-index: -1;
      }
    }
  }
  @keyframes anime {
    0%, 100%
    {
      background-position: 0 0;
    }
    50%
    {
      background-position: 300%;
    }
  }

  .errorLogin {
    color: #6e0707;
    background-color: rgba(209, 115, 115, 0.46);
    //margin-top: 10px;
    text-align: center;
    border-radius: 10px;
  }
}

/*MainLayout*/

.divMainLayout{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;

  &__header{
    height: 10vh;
    width: 100%;
    background-image: url('../../public/abstraction.png');
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
      margin:  20px 0 20px 30px;
      text-align: center;
      color: white;
      text-shadow: 4px 4px 2px rgba(28, 28, 28, 0.75);
    }

    &__nav{
      display: flex;
      align-items: center;
      margin: 10px 30px 10px 0;

      /*AdminPanelComponent, LogOutComponent, OrdersPanelComponent*/
      &__panel__button{
        width: 70px;
        height: 75px;
        margin-right: 10px;
        background-color: rgba(11, 191, 164, 0.86);
        border: none;
        border-radius: 5px;
        box-shadow: 10px 10px 5px 0 rgba(28, 28, 28, 0.75);

        &__p{
          margin: 0;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  &__ordersAllPage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__ordersFiltersComponent{
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__form{
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;

        &____input{
          margin: 5px;
          width: 10vw;
          height: 2vh;
        }

        &__select{
          margin: 5px;
          width: 11vw;
          height: 2.5vh;
        }
      }

      &____menu{
        display: flex;
        margin: 10px 30px 10px 0;

        &__my{
          width: 70px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          background-color: rgba(11, 191, 164, 0.86);
          color: white;
          border: none;
          border-radius: 5px;
          box-shadow: 10px 10px 5px 0 rgba(28, 28, 28, 0.75);
        }
      }

    }
  }

  &__footer{
    width: 100%;
    display: flex;
    text-align: center;
    //align-items: center;
    //justify-content: center;
    color: white;
    font-weight: bold;
    background-image: url('../../public/abstraction.png');
  }
}