<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        {{surname}} {{name}}, please follow the link and create a password to complete registration on the platform / change your password. <br>
        Link: {{registration_password}}
      </p>
    </td>
  </tr>
</table>