<table style="width: 100%; padding: 45px 35px; box-sizing: border-box; background-color: rgba(164, 246, 227, 0.46)">
  <tr>
    <td style="text-align: center;">
      <h1 style="color: rgba(0,139,139,0.52);">Hello!</h1>
      <p style="margin: 17px 0 0; color: rgba(0,139,139,0.52); font-size: 1.2em">
        <b>{{surname}} {{name}}</b>, please follow the link and create a password to complete registration on the platform / change your password. <br>
      </p>
      <p style="margin: 17px 0 0; color: rgba(0,139,139,0.52); font-size: 1.2em">
        <b>link:</b>
      </p>
      <p style="margin: 17px 0 0; ">
        {{registration_password}}
      </p>
    </td>
  </tr>
</table>