<table style="width: 100%; padding: 10px 35px; background-image: url('../imageHeaderFooter/abstractionBackend.png'); background-size: cover; box-shadow: 10px 10px 5px 0 rgba(28, 28, 28, 0.75); box-sizing: border-box">
  <tr>
    <td style="font-size: 14px; text-align: center;">
      NadiyPro © 2025
    </td>
  </tr>
</table>